Flask==3.0.0
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-Caching==2.1.0
Flask-Mail==0.9.1
Werkzeug==3.0.1
python-socketio==5.11.0
python-engineio==4.9.0
python-dotenv==1.0.0
google-genai==0.3.0
reportlab==4.0.7
Pillow>=10.0.0
requests==2.31.0
eventlet
gunicorn
nltk
numpy
pandas
pypdf
sift-stack-py
yt-dlp